.footer-comp {
  height: 150px;
  background-color: black;
  margin-top: 5rem;
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nomPrenom {
  color: white;
  padding-top: 3rem;
}

.btn-dwl {
  height: 40px;
  margin-top: 50px;
  background-color: black;
  color: white;
  border: 4px solid red;
  border-image-slice: 2;
  animation: btn-slide 5s linear infinite;
}

@keyframes btn-slide {
  0% {
    border-image-source: linear-gradient(0deg, black, red);
  }
  25% {
    border-image-source: linear-gradient(90deg, black, red);
  }
  50% {
    border-image-source: linear-gradient(180deg, black, red);
  }
  75% {
    border-image-source: linear-gradient(270deg, black, red);
  }
  100% {
    border-image-source: linear-gradient(360deg, black, red);
  }
}
