.homep {
  background-image: url("../assets/Fond.svg");
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  background-size: auto;
  overflow-y: hidden;
}

.txt {
  display: flex;
  align-items: center;
  width: 50wh;
  height: 45%;
  text-align: center;
  flex-direction: column;
  margin-top: 10%;
}

.photo {
  width: 50wh;
  height: 94%;
  border-radius: 8px;
}
.image {
  padding-top: 5%;
  width: 100%;
  height: 100%;
}

.bonjour {
  color: red;
  text-shadow: 2px 2px 5px red;
  font-weight: bold;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: black;
  }
  50% {
    color: red;
  }
  75% {
    color: black;
  }
  100% {
    color: red;
  }
}

.titleh2 {
  font-size: 3.5rem;
}

.phraseIntro {
  font-size: 1.25rem;
}

.divButton {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.styleButton {
  border: 4px solid black;
  background-color: red;
  border-radius: 10px;
  height: 3rem;
  width: 6rem;
  border-image-slice: 1;
  animation: neonBorder 3s linear infinite;
}

@keyframes neonBorder {
  0% {
    border-image-source: linear-gradient(0deg, black, red);
  }
  25% {
    border-image-source: linear-gradient(90deg, black, red);
  }
  50% {
    border-image-source: linear-gradient(180deg, black, red);
  }
  75% {
    border-image-source: linear-gradient(270deg, black, red);
  }
  100% {
    border-image-source: linear-gradient(360deg, black, red);
  }
}

@media screen and (width <= 768px) {
  .styleButton {
    border: 4px solid black;
    background-color: red;
    border-radius: 8px;
    height: 1.5rem;
    width: 3rem;
    border-image-slice: 1;
    animation: neonBorder 3s linear infinite;
    font-size: 0.5rem;
  }

  @keyframes neonBorder {
    0% {
      border-image-source: linear-gradient(0deg, black, red);
    }
    25% {
      border-image-source: linear-gradient(90deg, black, red);
    }
    50% {
      border-image-source: linear-gradient(180deg, black, red);
    }
    75% {
      border-image-source: linear-gradient(270deg, black, red);
    }
    100% {
      border-image-source: linear-gradient(360deg, black, red);
    }
  }

  .divButton {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
}
